.balfribbon {
  position: relative;
  padding: 15px 20px;
  padding-top: 40px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-text-size-adjust: 100%
}

.balfribbon .list .glyph {
  display: inline;
  margin-bottom: 0;
  margin-right: 2px;
}

.ribbonbar .group.disabled > ul > li label, .ribbonbar .group > ul > li.disabled label {
  background: transparent !important;
  opacity: 0.3 !important;
  border: 1px transparent solid !important;
}

.balfribbon li.disabled label {
  cursor: default;
}

.balfribbon>.ribbon_tabs {
  z-index: 2;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 38px;
  padding: 5px 20px;
  top:4px;
  left: 0;
  right:0;
  overflow-y: hidden;
  color:#333;
}

.balfribbon>.ribbon_tabs li {
  padding: 0;
  height: 34px;
  line-height: 33px;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 2px;
  top:-3px;
  left: 5px;
  margin-top: 0 !important;
  margin-bottom: -1px !important;
}

.balfribbon>.ribbon_tabs li.active {
  height: 36px;
  top:-4px;
}

.balfribbon>.ribbon_tabs li.special {
  margin-left: 5px;
  margin-bottom: 0;
}

.balfribbon>.ribbon_tabs li.special>a {
  background: #4889e2;
  color: #fff;
  padding-top: 0;
  border: 1px #333 solid;
  border-bottom: 1px transparent solid !important
}

.balfribbon>.ribbon_tabs li:hover a {
  color: #333;
}

.balfribbon>.ribbon_tabs a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  padding: 1px 20px;
  outline: 0;
  font-weight: 400;
  white-space: nowrap;
  border: 1px transparent solid;
}

.balfribbon>.ribbon_tabs a,
.balfribbon>.ribbon_tabs a:active,
.balfribbon>.ribbon_tabs a:visited {
  cursor: pointer;
  color: inherit;
}

.balfribbon>.ribbon_tabs li.active a {
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #eeeeee 0%, #f8f8f8 43%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #f8f8f8 43%);
  background: linear-gradient(to bottom, #eeeeee 0%, #f8f8f8 43%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f8f8f8', GradientType=0);
  border: 1px #ccc solid;
  box-shadow: 0 0 3px #aaa;
  color: #000;
}


.balfribbon>.ribbonbar {
  background: #f8f8f8;
  display: block;
  position: relative;
  font-family: "Arial";
  border: 1px #ccc solid;
  box-shadow: 0 0 3px #aaa;
}

.ribbonbar .ribbon_tab {
  padding: 5px;
  display: none;
}

.ribbonbar .group {
  border-right: 1.5px #ddd solid;
  display: inline-block;
  position: relative;
  padding: 5px;
  font-size: 12px;
  margin: 7px 3px;
  margin-right: -4px;
  vertical-align: top;
  padding-bottom: 25px;
}

.ribbonbar .group>.title {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #aaa;
  font-weight: 100;
  text-align: center;
  font-size: 120%;
  z-index: 10;
}

.balfribbon.fixed_height .group{
  height: 102px;
}

.ribbonbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.ribbonbar .group > ul > li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.ribbonbar .group > ul > li label {
  cursor: pointer;
  display: block;
  border: 1px transparent solid;
  height: 70px;
  width: 70px;
}

.ribbonbar .group > ul > li label.large{
  width: 80px;
  height:80px;
}

.ribbonbar .group > ul > li > label span {
  vertical-align: middle;
}

.ribbonbar .group > ul > li  > label.large {
  padding: 5px;
}

.ribbonbar .group > ul > li  > label.large span{
  display: block;
}

.ribbonbar .group > ul li > label .icon{
  padding-bottom: 5px;
  display: block;
  margin: auto;
  height:24px;
  width: auto;
}

.ribbonbar .group > ul li > label.large .icon {
  height: 36px;
}

.ribbonbar .group > ul > li:hover > label {
  background: rgba(0, 170, 255, 0.3);
  border-color: #aaa;
}

.ribbonbar .group ul.list {
  vertical-align: top;
}

.balfribbon .ribbonbar .group ul.list li {
  display: list-item;
  text-align: left;
  width: auto;
  height: auto;
  max-width: 200px;
  font-size: 12px;
  margin: 2px 0;
}

.balfribbon .ribbonbar .group ul.list li label {
  padding: 3px 10px;
  width: auto;
  height: auto;
  min-width: 100%;
}

.ribbonbar .group>ul.list li label .icon, .ribbonbar .group>ul.list li label .glyph {
  display: inline;
  padding-bottom: 0;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.balfribbon .group ul.list li label {
  display:inline-block;
  padding: 2px 3px;
}

.balfribbon .minimise_button {
  position: absolute;
  top: 6px;
  right: 10px;
  padding-top: 1px;
  text-align: center;
  -moz-text-shadow: 0 0 2px;
  -webkit-text-shadow: 0 0 2px;
  -ms-text-shadow: 0 0 2px;
  -o-text-shadow: 0 0 2px;
  text-shadow: 0 0 2px;
  z-index: 99;
  cursor: pointer;
  color: #000;
}

.balfribbon .group > ul > li .large .glyph{
  line-height: 34px;
}

.balfribbon .group> ul.large .glyph {
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
}

/*BalfPick integration*/
.balfribbon .balfpick{
  margin: 10px 3px;
  color:#000;
  background: #fff;
}

/*Minimised*/

.balfribbon.minimised {
  padding-bottom: 0 !important;
}

.balfribbon.minimised.hidden {
  min-height: 0 !important;
}

.balfribbon.minimised.open .ribbonbar {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.balfribbon.minimised.hidden .ribbonbar {
  display: none;
}

.balfribbon .group ul.list.large li label {
  padding: 1px 10px;
}

/*Rounded style*/

.balfribbon.rounded>.ribbonbar{
  border-radius: 3px;
}

.balfribbon.rounded_groups>.ribbonbar .group {
  border-radius: 5px;
}

.balfribbon.rounded_groups .ribbonbar .group>.title {
  border-radius: 0 0 5px 5px;
}

.balfribbon.rounded>.ribbon_tabs li,
.balfribbon.rounded>.ribbon_tabs li.special>a,
.balfribbon.rounded>.ribbon_tabs li.active a {
  border-radius: 3px 3px 0 0;
}

@import "themes.scss";
